.custom-playlist{
    position: relative;
    padding-top: 5rem;
    margin-left: 14rem;
    height: 350px;
    font-weight: bold; 
    font-size: 20px;
}

.playlist-list{
    display: block;
}

.playlist-header{
    display: flex;
    justify-content: space-between;
}

.playlist-remove-btn{
    background-color: white;
    padding: 0.5rem;
    margin-right: 1rem;
    color:#AF0F0F;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: larger;
}


.playlist-card-outer{
    position: absolute;
    top: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.playlist-card{
    max-width:250px;
    height:290px;
    margin-right: 1rem;
    margin-bottom: 2rem;
}