.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: white;
    padding: 0.5rem;
    z-index: 1;
}

.modal-input{
    width: 60%;
    height: 5vh;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
}

.modal-btn{
    background-color: #AF0F0F;
    color: #f0d8d8;
    padding: 6px 6px;
    border: 1px solid #AF0F0F;
    border-radius: 0.2rem;
    cursor: pointer;
    height: 5vh;
    margin-left: 0.2rem;
}

.modal-inner{
    position: relative;
}

.modal-heading{
    padding-top: 1rem;
}

.modal-close-btn{
    position: absolute;
    background-color: #AF0F0F;
    color: #f0d8d8;
    top: 0;
    right: 0;
    border: 1px solid #AF0F0F;
    border-radius: 50%;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
}

.video-page{
    display: flex;
    flex-wrap: wrap;
}

.video-card-outer{
    display:flex;
    flex-wrap:wrap;
    padding-left:13rem;
    margin-top: 5rem;
}

.video-card{
    position: relative;
    max-width:250px;
    height:290px;
    margin:1rem;
    padding-left: 0.5rem;
}

.watchlater-btn{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 20px;
    color: #AF0F0F;
    background-color: rgba(0,0,0,0.8);
    padding: 3px 3px;
    border: none;
    cursor: pointer;
}


.watchlater-btn:focus{
    background-color: rgb(104, 19, 19);
}

.playlist-btn{
    position: absolute;
    top: 2.5rem;
    right: 0.5rem;  
    font-size: 20px; 
    color: #AF0F0F;   
    background-color: rgba(0,0,0,0.8);
    padding: 3px 3px;
    border: none;
    cursor: pointer;
}

.playlist-btn:focus{
    background-color: rgb(104, 19, 19);
}

@media screen and (max-width: 500px) {
    .video-card-outer{
        padding-left:1rem;
        margin-top: 3rem;
    }

    .watchlater-btn{
        padding: 0px 0px;
    }
    
    .playlist-btn{
        padding: 0px 0px;
    }
}