.watch-later-components{
    display: flex;
}

.watch-later-card{
     position: relative;
     max-width:250px;
     height:290px;
     margin:1rem;
     padding-left: 0.5rem; 
}

.watch-later-btn{
    color:#AF0F0F ;
    position: absolute;
    top: 0;
    left: 215px;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 24px;
    padding: 6px 12px;
    cursor: pointer;
}

.watch-later-card-outer{
    display:flex;
    flex-wrap:wrap;
    padding-left:13rem;
}