.input-search{
    position:relative;
    border: 1px solid black;
    width: 40%;
    height: 6vh;
    margin: 1rem 0rem;
    border-radius: 0.4rem;
    padding-left: 1.8rem;
  }
  
.fa-search{
    position: absolute;
    left: 547px;
    top: 107px;
    color: rgb(124, 122, 122);
  }