
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App{
  text-align: center;
}

iframe{
  padding-top: 5rem;
  margin: 1rem;
  width: 800px;
  height: 550px;
} 

@media screen and (max-width: 500px) {
  iframe{
    padding-top: 5rem;
    margin: 1rem;
    width: 280px;
    height: 280px;
  } 
}